[Desktop Entry]
Name=Cosmic Radio
Comment=Stream internet radio stations from the COSMIC panel
Type=Application
Exec=cosmic-ext-radio
Terminal=false
Categories=AudioVideo;Audio;
Keywords=COSMIC;Applet;Radio;Streaming;
Icon=io.github.AdamMKG.CosmicRadio-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
